<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mínimo e Máximo</title>
</head>
<body>

    <script>
        function minimo(){
        a = document.getElementById("ent1").value
        b = document.getElementById("ent2").value
        c = document.getElementById("ent3").value
        d = document.getElementById("ent4").value
        document.getElementById("demo").innerHTML = Math.min(a, b, c, d);
        }
    </script>

    <h2>JavaScript Math.min() e Math.max()</h2>

    <p>Math.min() e Math.max() retorna o menor e maior valor da lista, respectivamente:</p>

    <h3>1)<input type="text" id="ent1" value=""></h3>
    <h3>2)<input type="text" id="ent2" value=""></h3>
    <h3>3)<input type="text" id="ent3" value=""></h3>
    <h3>4)<input type="text" id="ent4" value=""></h3>
    <button onClick="minimo()">Achar o menor</button>
    <button onClick="maximo()">Achar o maior</button>
    

    <h3>O resultado é: <b id="demo"></b></h3>
    


<script>
    function maximo(){
        e = document.getElementById("ent1").value
        f = document.getElementById("ent2").value
        g = document.getElementById("ent3").value
        h = document.getElementById("ent4").value
        document.getElementById("demo").innerHTML = Math.max(e, f, g, h);
    }
</script>
    
    
</body>
</html>